
<div class="col-sm-8 blog-main">  
   <%= render @blogs%>
   <%= paginate @blogs %>

</div>





<%-#  if logged_in?(:admin, :customer, :etc) this will hide what ever you nneed to no tlet the person see on the site if thier not a user that loged in -%>
