<h1>Porfolio Items</h1>


<%= link_to"Create New Item", new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>




<%-# I removed the block portfolio_iterm and replaced it with render @portfolio_item it does the same thing. looks nicer in a partial. added the render only dint work i had to add partial: add collection: -%>

