<strong><h1>About Me </h1></strong>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 175, alt: "Profile Image"%>
  </div>

  <div class="col-md-8">
    <p> Software development has been a passion of mine for a while now dating back to 2014 when I was repaired smart phones. After browsing potential institutes, I decided to enroll in McFadden Technical School in Davie, Florida. At MTS, I worked thoroughly with HTML, CSS, Bootstrap and Wordpress the entirety of my enrollment. Upon completion of the program, the desire to learn more resonated within me. I wanted to master back end development. I made an ambitious move to Dallas to further my education at Tech Talent South where my Ruby on Rails journey started.</p>
  </div>
</div>




