<div class="app-card-container">
<div class="card">
<h1 class="nice">I would love the join your A team</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3 class="nice">My Contact Info</h3>
    <p>2325 Misty Ridge Circle, Arlington,TX 76006.</p>
    <h3>Phone</h3>
    <P><%= number_to_phone "2149703252" %></P>
    <h3 class="nice">Email</h3>
    <p><a href="mailto:darnel_free@yahoo.com?subject=PortofolioContact" "email me"> Email me </a></p>
     </div>
       <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214874.15862066855!2d-97.27549802408436!3d32.701765144354034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e62d2e40898d3%3A0xb5ef6ac1fa05351!2sArlington%2C+TX!5e0!3m2!1sen!2sus!4v1555951207851!5m2!1sen!2sus" width="350" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
 </div>
 </div>
 </div>