

<div class="inner cover">
    <h1 class="cover-heading">
    Welcome.</h1>
    <h3><p class="lead">Hello! Welcome to my portfolio. By the way, I’m Guinel “Darnel” Gue, your amazing Software Developer. 
    You can also call me, Double G. Development with me DOUBLE the fun and DOUBLE the productivity with an above all great attitude! 
    I’m an awesome team player and a magnificent leader. Let’s collaborate and create the website for you!.  </p></h3>
    <p class="lead">
     <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"  %>
       </p>
</div>


 


    

